<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <label for="scn">scname</label><br>
        <select name="scn" id="scn">
            {% for so in qsso %}
            <option value="{{so.scname}}">{{so.scname}}</option>
            {% endfor %}
        </select><br><br>
        <label for="stn">stdname</label><br>
        <input type="text" id="stn" name="stn"><br>
        <label for="sti">stdid</label><br>
        <input type="text" id="sti" name="sti"><br>
        <input type="submit">
    </form>
</body>
</html>